/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 15, 2019, 4:58:32 AM
    Author     : Jack
*/

.company-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;  
}

.btn-add-pic {
    font-size: 18px;
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: #2980b9;
    border-color: #2471a3;
}
.btn-add-pic:focus,
.btn-add-pic.focus {
    color: #fff;
    background-color: #1a5276;
    border-color: #255625;
}
.btn-add-pic:hover {
    color: #fff;
    background-color: #1a5276;
    border-color: #1b4f72;
}
.btn-add-pic:active,
.btn-add-pic.active,
.open > .dropdown-toggle.btn-add-pic {
    color: #fff;
    background-color: #1a5276;
    border-color: #1b4f72;
}
.btn-add-pic:active:hover,
.btn-add-pic.active:hover,
.open > .dropdown-toggle.btn-add-pic:hover,
.btn-add-pic:active:focus,
.btn-add-pic.active:focus,
.open > .dropdown-toggle.btn-add-pic:focus,
.btn-add-pic:active.focus,
.btn-add-pic.active.focus,
.open > .dropdown-toggle.btn-add-pic.focus {
    color: #fff;
    background-color: #1b4f72;
    border-color: #255625;
}
.btn-add-pic:active,
.btn-add-pic.active,
.open > .dropdown-toggle.btn-add-pic {
    background-image: none;
}
.btn-add-pic.disabled:hover,
.btn-add-pic[disabled]:hover,
fieldset[disabled] .btn-add-pic:hover,
.btn-add-pic.disabled:focus,
.btn-add-pic[disabled]:focus,
fieldset[disabled] .btn-add-pic:focus,
.btn-add-pic.disabled.focus,
.btn-add-pic[disabled].focus,
fieldset[disabled] .btn-add-pic.focus {
    background-color: #1a5276;
    border-color: #1b4f72;
}
.btn-add-pic .badge {
    color: #5cb85c;
    background-color: #fff;
}